.signup-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-image: url("../../assets/registerbg2.png"); */
  background-color: #e0f4f6;
  height: 100vh;
  /* background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
}

.signup-form {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 10px 12px rgba(0, 0, 0, 0.1);
  width: 600px;
  margin-right: 6rem;
}

.signup-form h2 {
  font-size: 24px;
  margin: 0 0 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.form-group input[type="checkbox"] {
  margin-right: 10px;
}

.form-group label span {
  font-size: 12px;
  color: #333;
}

.form-group input[type="checkbox"] {
  width: 10px;
  height: 10px;
  cursor: pointer;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 16px;
}

.form-group input:focus {
  outline: none;
  border-color: #73C1C6;
}

.submit-button {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #2a7075;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #73C1C6;
}

.terms {
  color: rgb(78, 77, 77);
  font-size: 12px;
  margin: 30px 0px;
}

.name-group {
  display: flex;
  gap: .5rem;
}

.name-group .form-group {
  flex: 1;
}

.name-group input {
  width: 100%;
}

.start-text {
  text-align: left;
  padding: 50px;
}

.start-text p {
  font-size: 18px;
  color: rgb(76, 75, 75);
}

.start-text h2 {
  font-size: 55px;
  color: #2a7075;
  font-weight: bold;
}

.start-text a {
  color: #2a7075;
}

.google-signup-button {
  background-color: #fff;
  color: #333;
  padding: 5px 25px;
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}

.google-signup-button img {
  width: 15px;
  height: 16px;
  margin-right: 10px;
}