.slider-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  overflow: hidden;
  width: 100%;
}

.slider-slide {
  display: flex;
  align-items: center;
  /* background-color: #f5f5f5;
  border: 1px solid #ccc; */
  border-radius: 5px;
  padding: 100px;
  overflow: hidden;
  background-color: #f5f5f5;
}

.slide-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-image img {
  max-width: 100%;
  max-height: 300px;
  height: auto;
  margin-right: 30px;
}

.slider-details {
  flex: 1;
}

.date {
  font-size: 12px;
  color: #777;
  font-style: italic;
}

.category {
  font-size: 14px;
  color: #777;
  margin-top: 10px;
  font-weight: bold;
}

.bold-category {
  font-weight: bold;
}

.author {
  font-size: 16px;
  color: #555;
  margin-top: 10px;
}

.title {
  font-size: 24px;
  margin: 10px 0;
}

.content {
  font-size: 16px;
  line-height: 1.4;
}

.slick-dots {
  text-align: center;
}

.slick-dots li button:before {
  font-size: 15px;
  color: #777;
  margin: 50px 0;
}

.slick-dots li.slick-active button:before {
  color: #73C1C6;
}

.read-more {
  text-decoration: none;
  display: inline-block;
  padding: 8px 15px;
  background-color: #73C1C6;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-size: 15px;
}

.read-more:hover {
  background-color: #48888E;
}